:root {
	--background-color:#eee;
	--foreground-color:black;
	--box-background:#ccc;
}

.footer {
	width: 90%;
	min-height:30vh;
	position: relative;
	padding: 5% 5%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background:var(--background-color);
}

.footer p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size:1vw;
	color:var(--foreground-color);
}

.footer .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column-gap: 3vw;
	width: 100%
}

.footer .grid div * {
	align-self: left;
	text-align: left;
}

.footer .footer-links .column h2{
	font-size:1vw;
	margin:1.5vh 0;
	color:var(--foreground-color);
}

.footer .footer-links {
	display:flex;
	width: 100%;
}

.footer-links div {
	margin:0 1vw;
}

.footer .languages {
	width:100%;
	height:13vh;
	margin-top:3vh;
	background:var(--box-background);
}

.footer .contacts {
	background:var(--box-background);
	width:100%;
	height:13vh;
	margin-top:3vh;
}

.footer h1 {
	font-family: 'Playfair Display', sans-serif;
	margin-bottom: 1vh;
	width:100%;
	font-size:1.75vw;
	color:var(--foreground-color);
}

.footer .grid h2, .footer .grid p {
	font-size:1vw;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	line-height: 1.5;
	width:100%;
	color:var(--foreground-color);
	font-weight:300 !important;
}

.footer .grid .cell h1 {
	text-align:left;
}

.footer .cc, .footer .grid {
	margin:3vh;
}