:root {
	--navbar-bg: #333;
	--menu-bg: #333;
	--text-color: #eee;
}

header {
	width: 100%;
	height: 10vh;
	background: var(--navbar-bg);
	color:var(--text-color);
	position: fixed;
	z-index: 15;
}

header nav {
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
}

nav h1 {
	float:left;
	margin-left:10%;
	letter-spacing:5px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}

.hamburger {
  height: 100%;
  z-index: 14;
  position:absolute;
  right:10%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  display:flex;
}

.bar::before,
.bar::after,
.bar {
    width: 30px;
    height:3px;
    background:var(--text-color);
}

.bar {
    position:relative;
    display:block;
}

.bar::before,
.bar::after {
    content:'';
    position:absolute;
    left:0;
    transition:all 0.3s ease-in-out;
}

.bar::after {
   transition:all 0.3s ease-in-out;
}

.bar::before {
    top:10px;
}

.bar::after {
    bottom:10px;
}

.menu {
	position:absolute;
	z-index: 16;
	width:100%;
	height:90vh;
	top:10vh;
	background:var(--menu-bg);
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 2vw;
	transform: scale(1,0);
	transition:transform 0.5s ease-out;
	transition-delay: 0.4s;
	transform-origin: top;
}

.menu .column {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	transform:translateY(100px);
	opacity:0;
	transition:opacity 0.5s ease-in-out, transform 0.5s ease-out;
}

.menu svg {
	opacity:0;
	transition:opacity 0.5s ease-in-out;
}

.column a {
	display:inline-block;
	margin:3vh 0;
	text-decoration: none;
	font-size: 5vw;
	color: var(--text-color);
	font-family:'Playfair Display', sans-serif;
	font-style:italic;
	position:relative;
}

.column a:before {
	content:'';
	position:absolute;
	bottom:0;
	width:100%;
	height:2px;
	transform:scale(0);
	transform-origin:right;
	background:var(--text-color);
	transition: transform 0.3s ease-in-out;
}

.column h1 {
	margin:3vh 0;
}

.column .row {
	background:#444;
	margin-bottom:3vh;
	width:50%;
	height:5vh;
}

.menu svg {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	color:#eee;
	display:block;
}

.column a:hover:before {
	transform:scale(1);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}

input:checked + .hamburger {
        transform: rotate(45deg);
        transform-origin:middle;
        transition:all 0.3s ease-in-out;
}

input:checked + .hamburger .bar::before,
input:checked + .hamburger .bar::after {
  top: 0;
  transform-origin:middle;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

input:checked + .hamburger .bar::after {
    opacity:0;
    transition:opacity 0.3s ease-in-out;
}

input:checked ~ .menu {
    display:grid;
    transform: scale(1,1);
    transition: transform 0.5s ease-in-out;
    transform-origin:top;
}

input:checked ~ .menu .column{
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
	transition-delay: 0.4s;
}

input:checked ~ .menu svg{
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	transition-delay: 0.4s;
}

input[type="checkbox"] {
	position:absolute;
	opacity:0;
	z-index: 15;
	top:50%;
	right: 10%;
	transform: translate(-50%, -50%) scale(2);
	height:80px;
}